/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-sep-2016, 9:37:16
    Author     : PORTATIL20
*/


*{
    background-color: black;
   
}

input{
    background-color: blue;
    color:white;
    
}
